:root {
    transition-property: translate;
    transition-duration: 0.5s;
    translate: 0 0;
}

.offScreenLeft {
    translate: -100% 0;
    transition-property: translate;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.offScreenRight {
    translate: 100% 0;
    transition-property: translate;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
